<!DOCTYPE HTML>
<html>
	<head>
		<h1 align ="center" style="font-size:50px;color=blue">Drone Delivery Service</h1>
		<title>Drone Delivery Service</title>
		<meta charset="utf-8">

		
      </head>

<body>
	
	<div class="autocomplete-container" id="autocomplete-container"></div>
	<div class="autocomplete-container" id="autocomplete-container-country"></div>
	<div class="autocomplete-container" id="autocomplete-container-city"></div>
	<link rel="stylesheet" href="../static/address_form.css">
	<script type="text/javascript" src="../js/address_complete.js"></script> 

<!-- 		<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class input type="text" id="DroneName" class="form-control mt2" placeholder = "Spark, Phantom, etc." required>
				</div>
			</div>
		</div>
	</div>
</div> -->

</body>



</html>